.screening {
  margin: 0;
}

.screening section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > :first-child {
    flex: 3;
    min-width: 600px;
    margin: 0 24px 24px 0;
  }
  > :last-child {
    flex: 1;
    min-width: 150px;
  }
}