.section textarea {
  resize: vertical;
}

.section .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 16px;
  min-height: 58px;
}

.section .heading > * {
  margin: 0;
}

.section .heading button {
  margin: 0 auto 0 8px;
}

.section :global(.goa-form-item) > div {
  padding: 3px 4px;
}

.section .fileUpload {
  display: flex;
  flex-direction: row;
}

.section .fileUpload > button {
  margin-left: auto;
}
